*{
  margin: 0%;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table-grift{
  display: flex;
  justify-content: space-around;
}
.img{
  display: flex;
  justify-content: space-around;
  width: 450px;
  height: 300px;
  margin: 20px 0 20px 0;
  box-shadow:  8px 0px 10px 10px rgba(167, 150, 150, 0.573)
}
.body{
  background-color: rgb(20, 149, 235);
}
.h1{
  color: blue;
}
.input{
  width: 300px;
  margin: 0 0 20PX 0;
}